.App {
  text-align: center;
  border: 1px solid green;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
}

.room {
  width: 75px;
  height: 75px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid blue;
  font-size: 24px;
  line-height: 75px;
}

.room:hover,
.item:hover {
  cursor: pointer;
}

.item {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid blue;
}

.addRoom {
  margin-top: 80px;
}
